.input_form{
    display: flex;
    width: 329px;
    padding: 20px 17px 23px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    border-radius: 30px;
    background: #E57BA1;
}

.input_form section {
    display: flex;
    flex-direction: column;
}