.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #A7C2D1;
  height: 100vh;  
}

.header {
  display: flex;
  background-color: pink;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.header nav{
  display: flex;
  flex-direction: row;
  color: white;
}

.header a{
  margin: 0rem 15rem;
}

.netWorth {
  margin-top: 20px;
  /* Add styles for the net worth section */
}

.spending {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  color: #3a3a3a;
}

.spending h4{
  color: #152D92;
  font-size: 32px;
  font-weight: 200;
  line-height: 48px; 

}
.spending p{
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-weight: 200;
line-height: 26px;

}

.playlist {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 10px;
}

.investment {
  margin-top: 20px;
  background-color: #dcdcdc;
  padding: 10px;
}

.choices {
  margin-top: 20px;
  background-color: #c2c2c2;
  padding: 10px;
}