.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #A7C2D1;
  height: 100vh;
}

.header {
  display: flex;
  background-color: pink;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.header nav {
  display: flex;
  flex-direction: row;
  color: white;
}

.header a {
  margin: 0rem 15rem;
}

.netWorth {
  margin-top: 20px;
  /* Add styles for the net worth section */
}

.spendingContainer {
  margin-top: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.spendingHeader {
  color: #152D92;
  font-size: 32px;
  font-weight: 200;
  line-height: 48px;
}

.spending {
  color: #3a3a3a;
}

.spending p {
  width: 700px;
  height: 163px;
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
}

.playlist {
  display: flex;
  margin-top: 20px;
  background-color: #A7C2D1;
  padding: 10px;
  justify-content: center;
}
.playlist p{
  color: #152D92;
font-size: 32px;
font-weight: 500;
line-height: 48px; /* 133.333% */
}

.investment{
  display: inline-flex;
padding: 49px 31px 52px 29px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.investment h2 {
  display: flex;
  margin-top: 20px;
  background-color: #A7C2D1 ;
  padding: 10px;
}

.investment p {
    margin-top: 20px;
    background-color: #A7C2D1;
    padding: 10px;
}

.choices {
  margin-top: 20px;
  background-color: #c2c2c2;
  padding: 10px;
}